@using System.Data;
@using System.Web;
@using _5MRF_MVC.Models;
@{
    DataHandle DataHandle = new DataHandle();
    var PassData = ViewBag.Message;
}

@foreach (DataRow dtRowstyle in DataHandle.SqlSelectCMD("SELECT * FROM VIEW_OVERALLQUEALL WHERE OQA_ID='" + PassData.Var_Met_QAID + "'").Rows)
{

    <td>@dtRowstyle["OQues_Desc"].ToString()</td>
    <td>@dtRowstyle["OQA_RISK"].ToString()</td>
    <td>@dtRowstyle["OQA_CM"].ToString()</td>
    <td>@dtRowstyle["User_Name"].ToString()</td>
                <td>@dtRowstyle["OQA_WHEN"].ToString()</td>
                <td>@DataHandle.GetBoolText(dtRowstyle["OQA_OK"].ToString(), "RISK")</td>
                <td>@DataHandle.GetBoolText(dtRowstyle["OQA_IS_ESC"].ToString(), "YN")</td>
                <td>
                    @{
                        if (bool.Parse(dtRowstyle["OQA_OK"].ToString()) == false)
                        {
                    <a data-toggle="modal" data-target="#md_@dtRowstyle["OQA_ID"].ToString()" class="btn btn-primary text-white m-btn m-btn--icon m-btn--icon-only">
                        <i class="la la-edit"></i>
                    </a>
                                <!--Start Modal Form-->
                    <div class="modal fade" id="md_@dtRowstyle["OQA_ID"].ToString()" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-calendar-alt"></i> Update Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form id="frm_@dtRowstyle["OQA_ID"].ToString()">
                                        <input type="text" hidden id="txtUid" name="txtUid" value="@dtRowstyle["OQA_ID"].ToString()" />

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-control-feedback">Risk</div>
                                                <textarea required class="form-control m-input" id="txtURisk" name="txtURisk" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 100px; width:100%;">@dtRowstyle["OQA_RISK"].ToString()</textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-control-feedback">Countermeasure</div>
                                                <textarea class="form-control m-input" id="txtUCM" name="txtUCM" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 100px; width:100%;">@dtRowstyle["OQA_CM"].ToString()</textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-control-feedback">By When</div>
                                                <input type="text" class="form-control" id="txtUWhen" name="txtUWhen" onclick="$('#txtUWhen').datepicker(); $('#txtUWhen').datepicker('show');" value="@dtRowstyle["OQA_WHEN"].ToString()" required readonly placeholder="Select date">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-control-feedback">Escalate To</div>
                                                <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                                                    @if (bool.Parse(dtRowstyle["OQA_IS_ESC"].ToString()) == true)
                                                                        {
                                                                        <input id="chk_@dtRowstyle["OQA_ID"].ToString()" name="chk_@dtRowstyle["OQA_ID"].ToString()" checked type="checkbox">
                                                                        }
                                                                        else
                                                                        {
                                                                        <input id="chk_@dtRowstyle["OQA_ID"].ToString()" name="chk_@dtRowstyle["OQA_ID"].ToString()" type="checkbox">
                                                                        }
                                                    Functional Team
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-control-feedback">&nbsp;</div>
                                                <button type="button" onclick="FuncUpdate(this.form);" class="btn btn-info btn-md btn-block" data-dismiss="modal" aria-label="Close">Update</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                        }

                    }
                </td>
                <td>
                    <a onclick="return NeedDelete(@dtRowstyle["OQA_ID"].ToString());" class="btn btn-danger text-white m-btn m-btn--icon m-btn--icon-only">
                        <i class="fa fa-trash-alt"></i>
                    </a>
                </td>
                        }


